# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*.pyc
*.so
*~
\#*
backup/
bin/
lib/
obj/
TAGS
debug/
release/
check/results/
check/results*/
check/locks
check/MINLP
check/IP
cplex.log
doc/html/
doc/html_devel/
doc/doxygen
doc/scip.tag
doc/inc/faq/faqdata.php
doc/inc/faq/faq.inc
doc/inc/parameters.set
doc/**/*.tmp
doc/*.log
.cproject
.project
.vscode/
.idea/
cmake-build-debug/
.settings/
hooks/
build/
examples/*/check/results/
examples/*/check/*.sh
examples/*/check/*.awk
applications/*/check/results/
applications/*/check/*.sh
applications/*/check/*.awk

.*.swp
.directory

###############################
## files created by `make lint`
################################
lint.out
lint/gcc-include-path.lnt
lint/lint_cmac.h
lint/lint_cppmac.h
lint/size-options.lnt

localhooks/
src/scip/githash.c
src/scip/buildflags.c
settings/
!check/coverage/settings
unittests/check/results
unittests/check/locks
unittests/check/evalcheck.sh
unittests/check/getlastprob.awk
interfaces/python/.cache/
interfaces/python/build/
interfaces/python/include/
interfaces/python/tests/check
interfaces/python/pyscipopt/*.c
examples/*/doc/html
applications/*/doc/html
doc/inc/simpleinstance/output.log

# tex documents
tex/*
!tex/*.tex
!tex/*.bib
