# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
\#*
bin/
lib/
obj/
TAGS
release/
check/results/
check/locks
check/MINLP
check/IP
cplex.log
doc/html/
doc/html_devel/
.cproject
.project
hooks/
localhooks/
src/scip/githash.c
examples/Binpacking/check/check.sh
examples/Binpacking/check/check.awk
examples/Binpacking/check/evalcheck.sh
examples/Binpacking/check/getlastprob.awk
examples/Binpacking/check/locks/
examples/Binpacking/check/results/
examples/Coloring/check/check.sh
examples/Coloring/check/check.awk
examples/Coloring/check/evalcheck.sh
examples/Coloring/check/getlastprob.awk
examples/Coloring/check/locks/
examples/Coloring/check/results/
examples/Eventhdlr/check/check.awk
examples/Eventhdlr/check/check.sh
examples/Eventhdlr/check/evalcheck.sh
examples/Eventhdlr/check/getlastprob.awk
examples/Eventhdlr/check/getlastproblem.awk
examples/Eventhdlr/check/locks/
examples/Eventhdlr/check/results/
examples/Eventhdlr/check/short.solu
examples/Eventhdlr/doc/html/
examples/MIPSolver/check/check.awk
examples/MIPSolver/check/check.sh
examples/MIPSolver/check/evalcheck.sh
examples/MIPSolver/check/getlastprob.awk
examples/MIPSolver/check/getlastproblem.awk
examples/MIPSolver/check/locks/
examples/MIPSolver/check/short.solu
examples/MIPSolver/check/results/
examples/TSP/check/check.sh
examples/TSP/check/check.awk
examples/TSP/check/evalcheck.sh
examples/TSP/check/getlastprob.awk
examples/TSP/check/locks/
examples/TSP/check/results/
doc/doxygen

