check/check.awk
check/evalcheck.sh
check/evalcheck_cluster.sh
check/getlastprob.awk
check/configuration_logfiles.sh
check/configuration_set.sh
check/configuration_tmpfile_setup_scip.sh
check/getlastprob.awk
check/locks/
check/results/
doc/doxygen
doc/footer.html
doc/html/
doc/miniscippy.png
doc/scip.css
doc/scippy.png
