/* The standard CSS for doxygen */

body, table, div, p, dl {
  color:            black;
  font-size: 12pt;
  font-family: sans-serif;
}

body {
  margin:           2px;
  padding:          0px;
  background: #FFFFFF;
}

/* boxes */
div.outer {
  padding:    19px;
  background: #FFFFFF;
}

div.inner {
  border:     1px solid #BDBDBD;
  min-height: 450px;
  min-width: 1150px;
  background-color: #ffffe6;
}

/* @group Heading Levels */

h1 {
    font-size: 120%;
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 100%;
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid #8080A0;
}

td.mainheadertitle
{
    font-weight: bold;
    font-size: 20pt;
    text-align:left;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    color: #5050C0;
}

.directory tr {
    padding-left: 6px;
    background-color: #FBFCFD;
}

table.doxtable td, table.doxtable th {
	border: 0px;
	padding: 3px 7px 2px;
}



/* menu */
#menu {
  line-height: 100%; 
}

#menu ul {
  list-style: none;
  padding-left: 0px;
}

#menu li {
  padding:     2px 0px 0px 6px;
  white-space: nowrap;
  background:  #E9E9FF;
}

#menu li.hdr {
  color: #5050C0; 
  font-weight:   bold;
  padding:       2px 0px 3px 6px;
  background:    #d0d0ff;
  border-top:    1px solid #f2f2f2; 
  border-bottom: 1px solid #f2f2f2; 
}

#menu li.hdr a {
  font-weight:   bold;
}

#menu li a {
  color:         black;
  text-decoration: none;
}

#menu li a:hover {
  color: #888800;
  text-decoration: underline;
}

/* faq */
#faq ul {
  list-style: circle;
  padding-left: 2em;
}

#faq ol {
  padding-left: 3em;
}

#faq h4 { 
  padding-top: 2em;
}

/* question: */
#faq p.q { 
  font-weight: bold;
  padding-top: 2em;
}

/* answer */
#faq p.a { 
  padding-left:   1em;
}

#MSearchBox {
    white-space : nowrap;
    float: none;
    display: inline;
    margin-top: 8px;
    right: 30px;
    width: 170px;
    z-index: 102;
}
