.idea/*
check/testset/*.txt
check/testset/*.out
check/testset/*.trn
check/testset/*.xml
check/testset/*
filelist
dbg
*.cip
*.mps
../*
check/collected.txt
check/commands.txt
check/create_cip.py
check/inputlist.txt
check/results/
cmake-build-debug/
cmake_install.cmake
*0.25.spa
*0.5.spa
*.75.spa
instances/Master-Thesis/
instances/Paper/Pot3/
instances/Paper/Pot4/
instances/Paper/Pot6/
instances/Paper/pde/
instances/matlabrelax/
instances/oregonatorcycle5matrix.spa
instances/scaled/
instances/triangle.txt.dat-s
instances/triangle_andreas.txt.spa
instances/triangle_andreas.txt.spa.mop
opt/
solutions/
instances/HindRose